<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags -->


   

    <!-- Style CSS -->
    <link rel="stylesheet" href="../css/style.css">

</head>

<body>
 
  
    <!-- ***** Main Menu Area End ***** -->

    <!-- ***** Header Area Start ***** -->
    <header class="header-area">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="menu-area d-flex justify-content-between">
                        <!-- Logo Area  -->
                        <div class="logo-area">
                            <a href="index.html">情景模式</a>
                        </div>

                        
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- ***** Header Area End ***** -->

    <!-- ***** Hero Area Start ***** -->
    <section class="hero-area">
        <div class="hero-slides owl-carousel">
            <!-- Single Hero Slide -->
            <div class="single-hero-slide bg-img slide-background-overlay" style="background-image: url(../../static/slide1.jpg);">
                <div class="container h-100">
                    <div class="row h-100 align-items-end">
                        <div class="col-12">
                            <div class="hero-slides-content">
                                <div class="line"></div>
                                <h2>家庭网络</h2>
                                <p>提供温馨的家庭网络管理</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Single Hero Slide -->
            <div class="single-hero-slide bg-img slide-background-overlay" style="background-image: url(../../static/slide2.jpg);">
                <div class="container h-100">
                    <div class="row h-100 align-items-end">
                        <div class="col-12">
                            <div class="hero-slides-content">
                                <div class="line"></div>
                                <h2>企业网络</h2>
                                <p>提供全面的快捷的办公网络体验</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Single Hero Slide -->
            <div class="single-hero-slide bg-img slide-background-overlay" style="background-image: url(../../static/slide3.jpg);">
                <div class="container h-100">
                    <div class="row h-100 align-items-end">
                        <div class="col-12">
                            <div class="hero-slides-content">
                                <div class="line"></div>
                                <h2>企业路由</h2>
                                <p>提供专业的网络管理与调试方案</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
           
            <!-- Single Hero Slide -->
            <div class="single-hero-slide bg-img slide-background-overlay" style="background-image: url(../../static/slide4.jpg);">
                <div class="container h-100">
                    <div class="row h-100 align-items-end">
                        <div class="col-12">
                            <div class="hero-slides-content">
                                <div class="line"></div>
                                <h2>政府网络</h2>
                                <p>提供高安全性的网络体验</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
            
        </div>
    </section>
   

    <!-- jQuery (Necessary for All JavaScript Plugins) -->
    <script src="../components/js/jquery/jquery-2.2.4.min.js"></script>
    <!-- Popper js -->
    <script src="../components/js/popper.min.js"></script>
    <!-- Bootstrap js -->
    <script src="../components/js/bootstrap.min.js"></script>
    <!-- Plugins js -->
    <script src="../components/js/plugins.js"></script>
    <!-- Active js -->
    <script src="../components/js/active.js"></script>

</body>

</html>